.badge {
	--size: 1rem;
	width: var(--size);
	height: var(--size);
	border-radius: var(--size);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-color);
	color: white;
	font-size: .7rem;
	font-weight: bold;
}
