.button {
	--color: var(--primary-color);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: .8rem;
	.icon {
		margin-right: .5rem;
		width: 1rem;
	}

	&-danger {
		--color: var(--danger-color);
		--color-alt: var(--danger-color-alt);
	}

	&.full {
		width: 100%;
	}
}
