.layout {
	display: flex;
	height: 100%;
	min-height: 100vh;
	flex-flow: column;
	.navbar {
		min-height: 25px;
	}
	.main {
		flex: auto;
		margin-top: 6rem;
	}
	.footer {
		min-height: 100px;
	}
}

.flag-selector {
	position: relative;
	margin-right: 1rem;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	img {
		width: 1.5rem;
		cursor: pointer;
	}

	.options {
		position: absolute;
		padding: .5rem;
		border: 1px solid #eee;
		border-radius: .5rem;
		width: 3rem;
		left: -.75rem;
		background-color: white;
		img {
			width: 1.75rem;
		}
		&.hide {
			display: none;
		}
	}
}

.search {
	position: relative;
	background-color: white;
	margin-right: 1rem;
	&-input {
		display: flex;
		flex-flow: row nowrap;
		width: 300px;
		border-radius: .5rem;
		border: 1px solid #eee;
		overflow: hidden;
		align-items: center;
		padding: 0 1rem;
		input {
			flex: auto;
			width: calc(100% - 2rem);
			margin: 0;
			padding: .75rem 0;
			border: 0;
			outline: none;
		}
		.icon {
			width: 1.2rem;
		}
	}
	&-result {
		position: absolute;
		right: 0;
		width: 500px;
		background-color: white;
		border-radius: .5rem;
		box-shadow: var(--box-shadow);
		max-height: 60vh;
		overflow-y: auto;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				cursor: pointer;;
				border-bottom: 1px solid #eee;
				padding: .5rem 1rem;
				&:first-child {
					padding-top: 1rem;
				}
				&:last-child {
					border-bottom: 0;
					padding-bottom: 1rem;
				}
				&:hover {
					background-color: #f7f7f7;
				}
			}
		}
	}
}
