.layout {
	display: flex;
	height: 100%;
	min-height: 100vh;
	flex-flow: column;
	.navbar {
		min-height: 25px;
	}
	.main {
		flex: auto;
		margin-top: 5rem;
	}
	.footer {
		min-height: 100px;
	}
}

.flag-selector {
	position: relative;
	margin-right: 1rem;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	img {
		width: 1.5rem;
		cursor: pointer;
	}

	.options {
		position: absolute;
		padding: .5rem;
		border: 1px solid #eee;
		border-radius: .5rem;
		width: 3rem;
		left: -.75rem;
		background-color: white;
		img {
			width: 1.75rem;
		}
		&.hide {
			display: none;
		}
	}
}
