.navbar {
	position: fixed;
	top: 0;
	left: 0;
	padding: 1rem;
	width: 100%;
	border-bottom: 1px solid #eee;
	background-color: white;
	img {
		width: 200px;
	}

	&-shopping_cart {
		position: relative;
		.badge {
			position: absolute;
			top: -.5rem;
			right: -.5rem;
		}
	}
}
