*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#__next,
.App {
	height: 100%;
	min-height: 100vh;
}

body {
	background-color: var(--background-color);
}

a {
	color: inherit;
	text-decoration: none;
}
