:root {
	--primary-color: #039be5;
	--danger-color: #ef5350;
	--danger-color-alt: #e53935;

	--box-shadow: 0 0 5px #e7e7e7;

	--text-muted: #ccc;

	--background-color: white;
	--footer-background: #f5f5f5;
}
